<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo page</title>
</head>
<body>
<p>Simple webapplication demonstrating Spring Mobile integration with both JSP and Thymeleaf rendering.</p>
<p>
	<a href="jsp">JSP</a>
</p>

<ul>
	<li>template type: thymeleaf</li>
	<li>template: mobile</li>
	<li th:text="|currentDevice: ${currentDevice.deviceType}|">currentDevice: xx</li>
	<li th:text="|deviceType: ${deviceTypeName}|">deviceType lowercase</li>
</ul>

<div th:replace="th/testweb/include-override">
	include: unknown
</div>

</body>
</html>